button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  user-select: none;
  font: inherit;
}

.btn {
  background-color: var(--blue);
  color: var(--bgcolor);
  font-size: 1rem;
  margin: 0.25rem;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  border: 2px solid transparent;
  outline: 2px solid transparent;
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  border-radius: 500px;
}
.btn:active, .btn:focus {
  box-shadow: var(--shadow-elevation-4dp);
  border: 2px solid var(--bgcolor);
  border-radius: 5px;
  outline-width: 3px;
  outline-style: solid;
}
.btn-sm {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  font-weight: 400;
}
.btn-lg {
  font-size: 1.125rem;
  padding: 1rem 1.875rem;
  font-weight: 550;
}
.btn .material-icons {
  font-size: 1.1rem;
  margin: 0 0.25rem;
}
.btn-white {
  background-color: var(--white);
  color: var(--white);
}
.btn-white:active, .btn-white:focus {
  outline-color: var(--white);
}
.btn-white-outline {
  color: var(--white);
}
.btn-black {
  background-color: var(--black);
}
.btn-black:active, .btn-black:focus {
  outline-color: var(--black);
}
.btn-black-outline {
  color: var(--black);
}
.btn-red {
  background-color: var(--red);
}
.btn-red:active, .btn-red:focus {
  outline-color: var(--red);
}
.btn-red-outline {
  color: var(--red);
}
.btn-pink {
  background-color: var(--pink);
}
.btn-pink:active, .btn-pink:focus {
  outline-color: var(--pink);
}
.btn-pink-outline {
  color: var(--pink);
}
.btn-purple {
  background-color: var(--purple);
}
.btn-purple:active, .btn-purple:focus {
  outline-color: var(--purple);
}
.btn-purple-outline {
  color: var(--purple);
}
.btn-dark-purple {
  background-color: var(--dark-purple);
}
.btn-dark-purple:active, .btn-dark-purple:focus {
  outline-color: var(--dark-purple);
}
.btn-dark-purple-outline {
  color: var(--dark-purple);
}
.btn-indigo {
  background-color: var(--indigo);
}
.btn-indigo:active, .btn-indigo:focus {
  outline-color: var(--indigo);
}
.btn-indigo-outline {
  color: var(--indigo);
}
.btn-blue {
  background-color: var(--blue);
}
.btn-blue:active, .btn-blue:focus {
  outline-color: var(--blue);
}
.btn-blue-outline {
  color: var(--blue);
}
.btn-light-blue {
  background-color: var(--light-blue);
}
.btn-light-blue:active, .btn-light-blue:focus {
  outline-color: var(--light-blue);
}
.btn-light-blue-outline {
  color: var(--light-blue);
}
.btn-cyan {
  background-color: var(--cyan);
  color: var(--white);
}
.btn-cyan:active, .btn-cyan:focus {
  outline-color: var(--cyan);
}
.btn-cyan-outline {
  color: var(--cyan);
}
.btn-green {
  background-color: var(--green);
}
.btn-green:active, .btn-green:focus {
  outline-color: var(--green);
}
.btn-green-outline {
  color: var(--green);
}
.btn-light-green {
  background-color: var(--light-green);
  color: var(--white);
}
.btn-light-green:active, .btn-light-green:focus {
  outline-color: var(--light-green);
}
.btn-light-green-outline {
  color: var(--light-green);
}
.btn-yellow {
  background-color: var(--yellow);
  color: var(--white);
}
.btn-yellow:active, .btn-yellow:focus {
  outline-color: var(--yellow);
}
.btn-yellow-outline {
  color: var(--yellow);
}
.btn-orange {
  background-color: var(--orange);
}
.btn-orange:active, .btn-orange:focus {
  outline-color: var(--orange);
}
.btn-orange-outline {
  color: var(--orange);
}
.btn-deep-orange {
  background-color: var(--deep-orange);
}
.btn-deep-orange:active, .btn-deep-orange:focus {
  outline-color: var(--deep-orange);
}
.btn-deep-orange-outline {
  color: var(--deep-orange);
}
.btn-brown {
  background-color: var(--brown);
}
.btn-brown:active, .btn-brown:focus {
  outline-color: var(--brown);
}
.btn-brown-outline {
  color: var(--brown);
}
.btn-gray {
  background-color: var(--gray);
  color: var(--white);
}
.btn-gray:active, .btn-gray:focus {
  outline-color: var(--gray);
}
.btn-gray-outline {
  color: var(--gray);
}
.btn-blue-gray {
  background-color: var(--blue-gray);
}
.btn-blue-gray:active, .btn-blue-gray:focus {
  outline-color: var(--blue-gray);
}
.btn-blue-gray-outline {
  color: var(--blue-gray);
}
.btn-outline {
  background-color: var(--transparent);
}
.btn-neuro {
  border: none;
  color: #090909;
  padding: 0.7em 1.7em;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.btn-neuro:hover {
  border-radius: 5px;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.btn-neuro:disabled {
  box-shadow: none;
  cursor: not-allowed;
}

.icon {
  border-radius: 500px;
  border: 1px solid var(--back-shadow-dark);
  padding: 0.25rem;
  margin: 0.25rem;
}
.icon .material-icons {
  font-size: 1rem;
}
.icon:hover {
  background-color: var(--back-shadow-light);
  border: 1px solid var(--back-shadow-light);
}
.icon:active, .icon:focus {
  background-color: var(--back-shadow-dark);
  border: 1px solid var(--back-shadow-dark);
}

/*# sourceMappingURL=button.css.map */
